/* css 작성 
1)	전체 화면 : 폭은 800px, 높이는 620px, 화면 중앙 정렬
2)	상단의 제목 : 가운데 정렬
3)	맞춘 개수를 출력하는 영역에 임의의 배경색 변경
4)	이미지와 같이 텍스트(맞춘 개수, 예상점수, 합격:~~~)의 색상은 blue
5)	불합격 문구의 배경색(=gainsboro) & 글자색(=red)을 이미지와 같이 변경
*/

/* 1 */
#frame {
  width: 800px; /*컨테이너 너비*/
  height: 620px;
  padding: 20px; /*패딩*/
  margin: 0 auto; /*화면 중앙에 배치*/
}

/* 2 */
#title {
  text-align: center;
  color: white;
  background-color: darkblue;
}

#correct {
  width: 80px;
  text-align: right;
}

.expected {
  color: blue;
}

main {
  background-color: lightcyan;
}

/* 4 */
h4 {
  color: blue;
}

#result_check {
  margin: auto;
  display: block;
  border: 2px solid black;
  background-color: aqua;
  font-weight: bold;
  border-radius: 8px;
}

#total {
  list-style-type: disc;
}

/* 5 */
#result {
  background-color: gainsboro;
  color: red;
  text-align: center;
  width: 100px;
  font-weight: bold;
  margin: 0 auto;
}
